}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {

   text-align:center;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  display: inline-block;
   text-align:center; 
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
   text-align:center; 
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {

  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {

  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.active {
    background-color: red;
  }

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

h3 {
  text-align: center;
}

.facebook {
  padding: 0px;
  width: 40px;
  text-decoration: none;
}
.facebook:hover {
opacity: 0.7;
}
.facebook {
  color: white;
}
.facebook {
  position: absolute;
  left: 900px;
}


.instagram {
  padding: 0px;
  width: 40px;
  text-decoration: none;
}
.instagram:hover {
opacity: 0.7;
}
.instagram {
  color: white;
}
.instagram {
  position: absolute;
  left: 950px;
}

.twitter {
  padding: 0px;
  width: 40px;
  text-decoration: none;
}
.twitter:hover {
opacity: 0.7;
}
.twitter {
  color: white;
}
.twitter {
  position: absolute;
  left: 1000px;
}



footer {
  border-top: 5px solid white;
}


h1 {
  text-align: center;
}

	
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}